.themeButton {
  background-color: var(--secondary-background-color);
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.themeButton svg {
  font-size: 1.5rem;
  color: var(--text-color);
}

.themeButton:hover svg {
  color: var(--highlight-color);
}
